<html>


<head>
  <title>DM Content Engine Demo</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/site.css" rel="stylesheet">
</head>
<body>

<script>

function showFields( button ){

    var fields = $(button).parent().parent().find( ".fields" );
    if( fields.is( ":visible" ) ){
        fields.hide();
        $(button).text( "Show" );
    }else{
        fields.show();
        $(button).text( "Hide" );
    }
}
</script>

<h2>Administration Console</h2>

<div class="right" style="float: right">

<ul>
    <li>
        <a href="#">
            <i class="fas fa-database"></i> Query content
        </a>
    </li>

    <li>
        <a href="#" class="active">
        <i class="fas fa-list-alt"></i> Content types
    </a>
    </li>

    <li>
        <a href="#">
            <i class="fas fa-tools"></i> Content settings
        </a>
    </li>


    <li>
        <a href="#">
        <i class="fas fa-cubes"></i> Modules
    </a>
    </li>

    <li>
        <a href="#">
            <i class="fas fa-file-export"></i> Export content
        </a>
    </li>

    <li>
        <a href="#">
            <i class="fas fa-hammer"></i> Debug setting
        </a>
    </li>

    <li>
        <a href="#">
            <i class="fas fa-clipboard-list"></i> Error log
        </a>
    </li>

    <li>
        <a href="#">
            <i class="fas fa-shield-alt"></i> Authentication
        </a>
    </li>

    <li>
        <a href="#">
            <i class="fas fa-user-tag"></i> General permission
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-users"></i> Login Users
        </a>
    </li>

    <li>
        <a href="#" class="pro" title="Tool for sites and applications.">
            <i class="fas fa-tools"></i> Monitor tool(pro)
        </a>
    </li>

</ul>
</div>

<h3>Content types</h3>
<div><a href="#" class="btn btn-primary btn-sm">New type</a></div>
{{range $contentType, $def := .definition}}
    <div>
        <div>{{$contentType}}
            <a href="javascript:void();" onclick="showFields( this )">Show</a>

            <a href="javascript:void();"><i class="far fa-edit"></i></a>

            {{if(eq $contentType "user")}}
            {{else}}
            <a href="javascript:void();"><i class="far fa-trash-alt"></i></a>
            {{end}}
        </div>
        <ul class="fields hide">
            {{range $i,$identifier := $def.FieldsDisplay}}
                {{$fieldDef :=(index $def.Fields $identifier)}}
                <li >{{$fieldDef.Name}} [{{$identifier}}, {{$fieldDef.FieldType}}] </li>
            {{end}}
        </ul>
    </div>
{{end}}

<div class="admin">
    Powered by <a href="#" class="dm-name">DM Content framework</a>
</div>


</body>
</html>
