{% macro viewcontent( content, viewmode) export%}
    {%with viewmode|add:",demosite" as params%}
    {%with content|dm_tplpath:params as path%}
        {% if path=="" %}
            {PLEASE OVERRIDE. DEFAULT OUTPUT FOR {{content.ID}},{{content.Name}},{{viewmode}}}
        {%else%}
            {% with "../"|add: path as template %}
                <!-- {{path}} -->
                {%include template %}
            {%endwith%}
        {% endif %}
    {%endwith%}
    {%endwith%}
{% endmacro %}


{% macro viewfield( field ) export%}
    FIELD
{% endmacro %}

{#include path from override #}
{% macro include( path ) export%}
    {%with "../default/"|add:path|add:".html" as template%}
        {%include template%}
    {%endwith%}
{% endmacro %}

{% macro niceurl( content ) export%}/{{prefix}}/{{content|dm_niceurl}}{% endmacro %}
