body{
    background: #fdfefe;
}

body, table{
        font-size: 0.95em;
}

body > form{
    padding-left: 5px;
    padding-right: 5px;
}

h3{
    font-weight: 400;
    margin-top: 10px;
    font-size: 18px;
}

.home{
    /* border: 1px solid rgba(0,0,0,0); */
    padding: 5px;
}

.home:hover{
    border: 1px solid #cccccc;
    background: #ffffff;

}

.path .current{
    color: #183d56
}

.nav-link{
    padding: 2px 5px;
}

.tool{
    float: right;
    width: 25%;
}


.treemenu{
    margin: -4px -5px -3px -5px;
    padding-bottom: 5px;
    /* background: #fcfdfd; */
    padding-left: 8px;
}

.treemenu ul{
    margin-bottom: 0px
}

.treemenu li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn-link{
    color:#272727
}

.btn-link:hover{
    text-decoration: none;
    color:#ff6e00
}

.nav li{
    display: inline-block;
    padding: 0px;
}

.inline-tool{
    display: inline-block;
}

td{
    padding: 3px;
}

a{
    color: #183d56;
}

a.active{
    color: #2365e8
}

a:hover, .menuitem a:hover{
    /* color: #224996; */
    color: rgb(230, 120, 0);
    text-decoration: none
}

a.action{
    color:#565656
}

a.action:hover{
    color:#000000
}

.pagination{
    display: block;
    padding: 5px;
}

.pagination a{
    color: #272727
}

.icon-type{
    font-family: "Font Awesome 5\ Free";
    font-style: normal;
    margin-right: 3px;
   font-weight: 900;

}

.type-home::before{
    content: '\f015';
}

.type-media::before{
    content: '\f302';
}

.type-folder-link::before{
    content: '\f0c1';
}

.type-article::before{
    content: '\f15c';
    font-weight: 400;
}

.type-file::before{

}

.type-users::before{
    content: '\f0c0';
}

.type-folder-::before, .type-folder::before{
    content: '\f07b';
    font-weight: 400;
}

.type-folder-site::before{
    content:"\f108";
}

.type-folder-image::before{
    content: '\f302';
    font-weight: 400;
}

.type-folder-file::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f65e';
}

a.btn{
    margin-top: 5px;
}

.admin a{
    color: #0593ce;
}

ul{
    list-style-type: none;
    padding-left: 5px;
}

.hide{
    display: none;
}

.block{
    margin-top: 10px
}

.admin{
        padding: 5px;
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    font-size: 80%;
    clear:both;
    bottom: 0px;
}

.search{
    float: right;
    /* background: #eaf1f5;
padding: 0px 10px;
border-bottom-left-radius: 5px; */
}

img.line{
    margin-top: 2px;
    height: 30px;
}

.blockview{
    display: inline-block;
    width: 200px;
    padding: 10px;
}

.blockview img{
    max-width: 100%;
}

.pro{
    color: #737373
}

.admin .admin-console{
    color: grey
}

.editarea{
    width: 70%;
}

.content-title{
  width: 250px;
}

td.content-title div{
    width: 360px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.treemenu .selected{
    color: #e67800
}

.menuitem a.home, .menuitem  .resources a{
    /* color: white; */
}

.field-relationlist{
    display: block;
    background: #f7f7f7;
    height: 50px;
}

.meta-content{
    margin-bottom: 15px;
    cursor: default;
    margin-left: 2px;
    padding-bottom: 5px;
}

.tool-head{
    background: #f3f3f3;
    padding: 4px 6px;
    /* color: #ffffff; */
    /* font-weight: lighter; */
}

.btn-dark{
    background: #f7fbff;
    border-color: #d0dae0;
    color: #333333;
}

 .tool-content{
     padding: 5px 10px;
 }

.meta-content label, .meta-content table{
    color: #333333;
    font-size: 14px;
}

.meta-content label{
        margin:0px;
}

.table{
    margin-bottom: 0px
}

.table td, .table th{
    border-top-color: #e4e4e4
}

.table tr:last-child td{
    border-bottom: 1px solid #e4e4e4
}

h2{
    margin-top: 10px;
    font-size: 28px;
}

tr.checked .content-title{
    font-style: italic;
}

.left{
    width: 20%;
    display: inline-block;
    vertical-align:top;
    min-height: 100%;
    padding: 0px;
    border-right: 1px solid #636363;
    /* box-shadow: 0px 2px 2px 0px #d2dade; */
    background: #525a5f
}

.left .current{
    color: #022e56;
}

.leftmenu{
    background: #272d31;
    position: absolute;
    width: 60px;
    height: 100%;
    padding-top: 44px;
    left:-255px;
    border-right: 1px solid #464040;
    box-shadow: 1px 7px 4px #464040;
    text-align: center;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}

.leftmenu i{
    font-size: 20px;
    margin-left: 5px;
}

.leftmenu span{
    /* padding: 6px 5px; */
    display: inline-block;
    font-size: 0.8em;
}

.logo{
    display: inline-block;
    transition: all 0.1s linear;
    padding: 2px !important;
    margin-left:10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0);
    position: absolute;
    left: 0px;
}

.logo:hover{
    /* border: 1px solid rgb(39, 46, 49); */
    background: #272d31;
}


.selected-div{
    background: rgba( 0,0,0,0.1 );
    margin-left: -12px;
    padding: 3px;
    padding-left: 12px !important;
}

.resources{
    float: right;
}

.resources a{
    padding: 2px;
}

.leftmenu a{
    color:rgba(255,255,255,0.9)
}

.leftmenu >div:hover a{
    color: rgba(255, 134, 0, 0.87)
}

.leftmenu div.selected a{
    color: #e67800;
}

.leftmenu > div{
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 6px;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
    font-weight: 300;
}


.treemenu ul ul{
    margin-left: 5px;
}

span.icon-toggle{
    font-family: fontawesome;
    font-size: 12px;
}

span.icon-toggle.open::before {
    content: "\f078"

}

span.icon-toggle.closed::before {
    content: "\f054";
}

span.icon-toggle.space {
    margin-left: 14px
}

.nav{
    /* padding: 5px; */
    display: block;
}

.nav ul{
    margin: 0px;
    padding: 0px;
}

.menu{
    /* background: #bcd2e0; */
    /* margin-left: 44px; */
}

.menuitem{
   /* border-top: 1px solid #cccccc; */
   /* border-bottom: 1px solid #d9dbe0; */
    padding: 3px 5px;
    /* background: #f0f0f1; */
}

.notification{
    display: inline-block;
    /* border: 1px solid #3a3a3c; */
    float: right;
    border-radius: 12px;
    font-size: 11px;
    padding: 2px 3px;
    background: #e67800;
    color: #ffffff;
}

.menuitem > a{
    padding-left: 5px
}

.menuitem a{
    color: #ffffff;
    font-weight: 300;
}

.main{
    padding: 0px 5px;
    width: 79%;
    display: inline-block;
    position: relative;
    vertical-align:top;
}

input[type="file"]{
    border: 1px solid #ececec;
    background: #f3f3f3;
    padding: 5px 10px;
    border-radius: 4px;
}

.content-main{
    background: #ffffff;
    padding: 0px 10px 10px 10px;
    float: left;
    width: 75%;
}

.content-main{
    background: rgba(255, 255, 255, 0.3);
    /* box-shadow: 1px 1px 3px 0px #e4e3e3; */
    /* border-radius: 3px; */
}

.meta-content{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 3px 0px #e4e3e3;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
}

td.list-tool {
    width: 82px;
}

.content-tool{
    float: right;
}

.content-tool > a {
    padding: 4px 2px;
    margin-bottom: 5px;
}

.content-tool > span{

}

td.select{
    width: 20px
}

.show-hide{
    float: right;
    margin-top: 5px;
    padding-right: 2px;
    font-size: 10px;
}

.table td{
    padding: 7px 5px;
}

.leftmenu > .selected, .leftmenu > div:hover{
    background: #333a3e
}

.table td input{
    margin-top: 3px;
}

.separator{
    color: #666666;
    font-size: 14px;
}

h2.path{
    font-size: 20px;
    font-weight: 400;
    padding-left: 8px;
}

.path .current{
    font-weight: 500;
}

h2.path a, h2.path{
    /* color: #666666; */
}

@media only screen and (max-width: 600px) {
    .tool{
        float: none
    }

    .admin{

    }

   .content-title{
   width: auto;
 }
   .inline-tool{
   position: relative;
   left: 0px;
   margin-bottom: 10px;
    }

    .left{
        display: none;
    }

    .main{
        width: 100%;
    }

}
