a{
    color: #e83030;
}

a:hover{
    text-decoration: none;
    color: red
}

h2{
    font-size: 1.3em;
}

h2.title{
    border-bottom: 1px solid #cccccc;
    padding: 5px;
}

h3{
    font-size: 1.2em
}

.summary{
    font-size: 90%;
    color: #333333;
}

.menu{
    padding: 5px;
    background: #e6e6e6;
}

.menu > ul{
    float: right;
}

.menu::after{
    content:"";
    display: table;
    clear: both;
}

.block{
    display:inline-block;
    width: 30%;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 10px;
    background:#e8e8e8
}



body{
    font-family: Arial;
    background: #f0f0f0;
}

.header, .mainarea, .footer{
    background: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.menu ul{
    padding: 0px;
    margin: 0px;
}

.menu .current a{
    font-weight: bold;
}

.menu ul li{
    display: inline-block
}

.menu ul a{
    padding: 5px;
}

.mainarea > .full{
    padding: 10px;
}
