a{
    color: #e83030;
}

a:hover{
    text-decoration: none;
    color: red
}

h2{
    font-size: 1.3em;
}

h2.title{
    border-bottom: 1px solid #cccccc;
    padding: 5px;
}

h3{
    font-size: 1.2em
}

.summary{
    font-size: 90%;
    color: #333333;
}

.menu{
    padding: 5px;
    background: #e6e6e6;
}

.menu > ul{
    float: right;
}

.menu::after{
    content:"";
    display: table;
    clear: both;
}

.block{
    display:inline-block;
    width: 30%;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 10px;
    background:#e8e8e8
}
