{% comment %}
Available varilables:

- viewtype: "content_view" for content, eg. "email" for email
- debug: true/false
- error: error message

For content:
- site
- content
- root
- default
- viewmode
- sitepath

For non content:
- match_data: map[string]interface{} for template matching
{% endcomment %}

{% macro output_content( content, viewmode) export%}
    {%with dm.tpl_content(content, viewmode) as path%}
        {% if path=="" %}
            {OVERRIDE NOT FOUND, PLEASE OVERRIDE. {{content.ID}},{{content.Name}},{{viewmode}}}
        {%else%}
                {% if debug %}<!-- dm-template: {{path}} -->{%endif%}
                {%include path|dm_abs_path %}
        {% endif %}
    {%endwith%}
{% endmacro %}

{% macro output_view( viewtype, match_data ) export%}
    {%with dm.tpl_match(match_data, viewtype) as path%}
    {% if path=="" %}
            {OVERRIDE NOT FOUND, PLEASE OVERRIDE. viewtype: {{viewtype}} }
        {%else%}
                {% if debug %}<!-- dm-template: {{path}} -->{%endif%}
                {%include path|dm_abs_path %}
        {% endif %}
    {%endwith%}
{% endmacro %}

{% macro output_field( field, content ) export%}
    {%with dm.fieldtype( field, content ) as fieldtype%}
        {%with dm.tpl_match( dm.map( "fieldtype", fieldtype, "field", field, "contentype", content.ContentType(), "site", site ), "field" ) as path%}
            {%if path==""%}
                {TEMPLATE FOR {{fieldtype}} IS NOT FOUND}
            {%else%}
                {% if debug %}<!-- dm-template: {{path}} -->{%endif%}
                {%include path|dm_abs_path with field=field value=content.Value(field)%}
            {%endif%}
        {%endwith%}
    {%endwith%}
{% endmacro %}

{%if error != nil %}
  {{error}} {%comment%} todo: use include with override {%endcomment%}
{%else%}
  {%if viewtype == "content_view" %}
     {{output_content( content, viewmode )}}
   {%else%}
     {{output_view( viewtype, match_data )}}
   {% endif %}
{%endif%}
