{% comment %}
Available varilables:

- viewtype: "content_view" for content, eg. "email" for email
- debug: true/false
- error: error message

For content:
- site
- content
- root
- viewmode
- prefix

For non content:
- match_data: map[string]interface{} for template matching
{% endcomment %}

{% macro output_content( content, viewmode) export%}
    {%with dm.tpl_content(content, viewmode) as path%}
        {% if path=="" %}
            {OVERRIDE NOT FOUND, PLEASE OVERRIDE. {{content.ID}},{{content.Name}},{{viewmode}}}
        {%else%}
                {% if debug %}<!-- {{path}} -->{%endif%}
                {%include path|dm_abs_path %}
        {% endif %}
    {%endwith%}
{% endmacro %}

{% macro output_field( field ) export%}
    {%with "fieldtype/"|add:field.Type()|add:".html"|dm_abs_path:"github.com/digimakergo/digimaker/sitekit" as path%}
        {%include path with field=field%}
    {%endwith%}
{% endmacro %}

{% macro output_view( viewtype, match_data ) export%}
    {%with dm.tpl_match(match_data, viewtype) as path%}
    {% if path=="" %}
            {OVERRIDE NOT FOUND, PLEASE OVERRIDE. viewtype: {{viewtype}} }
        {%else%}
                {% if debug %}<!-- {{path}} -->{%endif%}
                {%include path|dm_abs_path %}
        {% endif %}
    {%endwith%}
{% endmacro %}

{%if error != nil %}
  {{error}} {%comment%} todo: use include {%endcomment%}
{%else%}
  {%if viewtype == "content_view" %}
     {{output_content( content, viewmode )}}
   {%else%}
     {{output_view( viewtype, match_data )}}
   {% endif %}
{%endif%}
