{% macro output_content( content, viewmode) export%}
    {%with viewmode|add:","|add:site as params%}
    {%with content|dm_tpl_matched:params as path%}
        {% if path=="" %}
            {OVERRIDE NOT FOUND, PLEASE OVERRIDE. {{content.ID}},{{content.Name}},{{viewmode}}}
        {%else%}
            {% with path|dm_tpl_path as absolute_path %}
                <!-- {{path}} -->
                {%include absolute_path %}
            {%endwith%}
        {% endif %}
    {%endwith%}
    {%endwith%}
{% endmacro %}

{% macro output_field( field ) export%}
    {%with "fieldtype/"|add:field.Type()|add:".html"|dm_tpl_path:"github.com/xc/digimaker/sitekit" as path%}
        {%include path with field=field%}
    {%endwith%}
{% endmacro %}

{#include path from override #}
{% macro output( path, matched_data ) export%}
    {#todo: match it#}
    {%with "../default/"|add:path|add:".html" as template%}
        {%include template%}
    {%endwith%}
{% endmacro %}

{% macro niceurl( content ) export%}{%if prefix!=""%}/{{prefix}}{%endif%}/{{content|dm_niceurl}}{% endmacro %}
