<html>
<head>
  <title>Example</title>
  <style>
    body{
      font-family: Verdana;
      line-height: 1.5;
    }

    body, table{
            font-size: 12px;
    }
  </style>
</head>

<body>
  <h2>Locations</h2>
  <div>
      Example: <a href="./?id=1">1</a> <a href="./?id=2">2</a>
  </div>
  <div>
    <table>
    <tr>
      <td>ID</td>
      <td>Type</td>
      <td>Name</td>
      <td>Parent</td>
    </tr>
    <tr>
      <td>{{.ID}}</td>
      <td>{{.ContentType}}</td>
      <td>{{.Name}}</td>
      <td> {{.ParentID}}</td>
    </tr>
    </table>
  </div>
</body>
</html>
