<html>
<head>
  <title>Example</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="padding: 10px">
  <h2>{{.current.Name}}</h2>
  <div style="float: right">
  <a href="/content/new/4">Create new</a>
  <h3>Top folders</h3>
  {{range $index,$folder := .folders}}
    <div><a href="/content/view/{{$folder.ID}}">{{$folder.ID}}: {{$folder.Name}}</a></div>
  {{end}}
  </div>

  <h3>Detail</h3>
  <div class="block">

  {{$fields := .current.Values}}

  {{range $identifier, $value := $fields}}
  <div>
    <label style="width:200px; display: inline-block">{{$identifier}}:</label>
    <span>
        {{if (eq $identifier "title")}}
            {{$value.ViewValue}}
        {{else}}
            {{$value}}
        {{end}}
    </span>
  </div>
  {{end}}

  <h3>Folder under</h3>
  <div>
      {{range $index,$content := .folder_list}}
        <div><a href="/content/view/{{$content.ID}}">{{$content.ID}}: {{$content.Name}}</a></div>
      {{end}}
  </div>

  <h3>Articles under</h3>
  <div>
      {{range $index,$content := .list}}
        <div><a href="/content/view/{{$content.ID}}">{{$content.ID}}: {{$content.Name}}</a></div>
      {{end}}
  </div>

  </div>
</body>
</html>
