<html>
<head>
  <title>DM Content Engine Demo</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/site.css" rel="stylesheet">
</head>

<body>
  <h2>{{.current.Name}}</h2>
  <div class="tool">
  <div>
     <div>
          <ul>
              <li>
                  <a href="/model/list"><i class="far fa-images"></i> Media</a>
              </li>
              <li>
                  <a href="/model/list" title="User and access"><i class="fas fa-users"></i></i> Users</a>
              </li>
          </ul>
      </div>
      <div>
          <a href="/content/new/folder/{{.current.ID}}" class="btn btn-primary btn-sm">New Folder</a>
          <a href="/content/new/article/{{.current.ID}}" class="btn btn-primary btn-sm">New article</a>
      </div>
  </div>
  <h3>Top folders</h3>
  {{range $index,$folder := .folders}}
    <div><a href="/content/view/{{$folder.ID}}">{{$folder.ID}}. {{$folder.Name}}</a></div>
  {{end}}
  </div>

  <div class="block">

  {{$fields := .current.DisplayIdentifierList}}

  <div>
  <table>
      <tr><td>ID: </td><td>{{.current.ID}}</td></tr>
      <tr><td>CID: </td><td>{{.current.CID}}</td></tr>
  {{range $i, $identifier := $fields}}
  {{$value := $.current.Value $identifier }}
  <tr><td style="width: 150px">{{(index $.current_def.Fields $identifier).Name}}:</td>
    <td>
        {{if (eq $identifier "title")}}
            {{$value.ViewValue}}
        {{else}}
            {{$value}}
        {{end}}
    </td>
</tr>
  {{end}}
</table>
</div>


{{if eq .current.ContentType "article"}}
<h4>Related articles</h4>
<ul>
    {{range $i, $article := .current.Value "related_articles"}}
        <li><a href="{{$article.from_location}}">{{index $article "data"}} <i>{{index $article "description"}}</i></a></li>
    {{end}}
    <li>
        <a href="#" class="action" title="Add related articles">
               <i class="fas fa-plus-circle"></i>
                Add articles
        </a>
    </li>
</ul>

{{end}}

  <h3>Folder under</h3>
  <div>
      {{range $index,$content := .folder_list}}
        <div>
            <a href="/content/view/{{$content.ID}}">{{$content.ID}}. {{$content.Name}}</a>
            <a href="/content/edit/{{$content.ID}}" class="action" title="Edit"><i class="far fa-edit"></i></a>
            <a href="/content/edit/{{$content.ID}}" class="action" title="Remove"><i class="far fa-trash-alt"></i></a>
        </div>
      {{end}}
  </div>

  <h3>Articles under</h3>
  <div>
      {{range $index,$content := .list}}
        <div>
            <a href="/content/view/{{$content.ID}}">{{$content.ID}}. {{$content.Name}}</a>
            <a href="/content/edit/{{$content.ID}}" class="action" title="Edit"><i class="far fa-edit"></i></a>
            <a href="/content/edit/{{$content.ID}}" class="action" title="Remove"><i class="far fa-trash-alt"></i></a>
        </div>
      {{end}}
  </div>

  </div>

  <div class="admin">
      <ul>
          <li>For system administrator</li>
          <li>
              <a href="/model/list"><i class="fas fa-user-cog"></i> Permission settings</a>
          </li>
          <li>
              <a href="/model/list"><i class="fas fa-wrench"></i> Content setup</a>
          </li>
      </ul>
  </div>
</body>
</html>
