<html>
<head>
  <title>DM Content Engine Demo</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/site.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="/static/javascript/dmdebug.js"></script>
    <script src="/static/javascript/site.js"></script>
</head>

<body>
  <div class="left">
      <div class="treemenu">
          <ul>
          <li>
          <a href="javascipt:void;"><span class="icon-toggle open"></span></a>
          <a href="/content/view/{{.tree.Content.ID}}"{{if eq .current.ID .tree.Content.ID}} class="current" {{end}}>
              <i class="icon-type type-{{.tree.Content.ContentType}}"></i>
              {{.tree.Content.GetName}}</a>
          <ul>
          {{range $index, $child := .tree.Children}}
              <li>
                  <a href="javascipt:void;"><span class="icon-toggle open"></span></a>
                  <a href="/content/view/{{$child.Content.ID}}"{{if eq $.current.ID $child.Content.ID}} class="current" {{end}}>
                      <i class="icon-type type-folder-{{if eq $child.Content.ContentType "folder"}}{{$child.Content.FolderType.Value}}{{end}}"></i>{{$child.Content.GetName}}
                  </a>
                  {{if $child.Children}}
                      <ul>
                      {{range $index, $child2 := $child.Children}}
                              <li>
                                  {{if $child2.Children}}
                                  <a href="javascipt:void;"><span class="icon-toggle open"></span></a>
                                  {{else}}
                                        <span class="icon-toggle space"></span>
                                  {{end}}
                                  <a href="/content/view/{{$child2.Content.ID}}"{{if eq $.current.ID $child2.Content.ID}} class="current" {{end}}>
                                      <i class="icon-type type-folder-{{if eq $child2.Content.ContentType "folder"}}{{$child2.Content.FolderType.Value}}{{end}}"></i>{{$child2.Content.GetName}}
                                  </a>

                                  {{if $child2.Children}}
                                  <ul>
                                  {{range $index, $child3 := $child2.Children}}
                                    <li>
                                      {{if $child3.Children}}
                                        <a href="javascipt:void;"><span class="icon-toggle closed"></span></a>
                                      {{else}}
                                        <span class="icon-toggle space"></span>
                                      {{end}}
                                      <a href="/content/view/{{$child3.Content.ID}}"{{if eq $.current.ID $child3.Content.ID}} class="current" {{end}}>
                                          <i class="icon-type type-folder-{{if eq $child3.Content.ContentType "folder"}}{{$child3.Content.FolderType.Value}}{{end}}"></i>{{$child3.Content.GetName}}
                                      </a>
                                    <li>
                                  {{end}}
                                   </ul>
                                  {{end}}
                              </li>
                      {{end}}
                      </ul>
                  {{end}}
              </li>
          {{end}}
        </ul>
        </li>
    </ul>
    </div>
    <div class="nav">
        <ul>
        {{range $index,$folder := .folders}}
          <div>
              <li>
              <a href="/content/view/{{$folder.ID}}">
                  <i class="icon-type  type-{{$folder.FolderType.Value}}"></i>{{$folder.Name}}</a>
              </li>
              </div>
        {{end}}
        </ul>
      </div>
  </div>

  <div class="main">
  <h2>{{.current.Name}}</h2>

   <div class="tool">
       <div>
           {{range $index, $type := .current_def.AllowedTypes}}
             <a href="/content/new/{{$type}}/{{$.current.ID}}" class="btn btn-primary btn-sm">New {{$type}}</a> <br />
           {{end}}
       </div>
   </div>
  <div class="meta-content">
      <span><label>Published: </label>{{call .format_time .current.Published}}</span>
      <span><label>Modified: </label>{{call .format_time .current.Modified}}</span> <br />
      <span><label>CID: </label>{{.current.CID}}</span>
      <span><label>UID: </label>{{.current.UID}}</span>
      {{if .current_def.HasVersion}}
             <span><label>Version: </label>{{.current.Version}}</span>
      {{end}}
  </div>
  <div class="inline-tool">
     <span>
         <a href="/content/edit/{{.current.ID}}" class="action" title="Edit">
             <i class="far fa-edit"></i>
         </a>
     </span>
     {{if( gt .current.ParentID 0 )}}
     <span>
         <a href="/content/view/{{.current.ParentID}}" class="action" title="Go to parent">
             <i class="fas fa-chevron-circle-up"></i>
         </a>
     </span>
     {{end}}
 </div>

  <div>

  {{$fields := .current.Definition.FieldsDisplay}}

  <div class="block">
  <table>
  {{range $i, $identifier := $fields}}
  {{$value := $.current.Value $identifier }}
  <tr><td style="width: 150px">{{(index $.current_def.Fields $identifier).Name}}:</td>
    <td>
        {{if (eq $identifier "title")}}
            {{$value.ViewValue}}
        {{else}}
            {{$value}}
        {{end}}
    </td>
</tr>
  {{end}}
</table>
</div>


{{if eq .current.ContentType "article"}}
<h4>Related articles</h4>
<ul>
    {{range $i, $related_article := .current.Value "related_articles"}}
        <li><a href="{{$related_article.FromLocation}}">{{$related_article.Data}} <i>{{$related_article.Description}}</i></a></li>
    {{end}}
    <li>
        <a href="#" class="action" title="Add related articles">
               <i class="fas fa-plus-circle"></i>
                Add articles
        </a>
    </li>
</ul>

{{end}}

 {{if( gt (len .folder_list) 0 ) }}
  <h3>Folders</h3>
  <div>
      <table>
      {{range $index,$content := .folder_list}}
        <tr class="content-row">
        <td>
            <a href="/content/view/{{$content.ID}}" title="{{$content.ID}}"><i class="icon-type type-folder-{{$content.FolderType.Value}}"></i>{{$content.Name}}</a>
        </td>
        <td>{{$content.Priority}}</td>
        <td>
            <a href="/content/edit/{{$content.ID}}" class="action" title="Edit"><i class="far fa-edit"></i></a>
            <a href="/content/delete/{{$content.ID}}" class="action" title="Remove"><i class="far fa-trash-alt"></i></a>
        </td>
        </tr>
      {{end}}
    </table>
  </div>
  {{end}}

{{if .list }}
{{if gt (len .list) 0}}
  <h3>Contents under</h3>
  <div>
      <table>
      {{range $index,$content := .list}}
            {{if eq $content.ContentType "image" }}
                <div class="blockview">
                    <a href="/static/var/uploaded/{{$content.Path.Value}}">
                    <img src="/static/var/uploaded/{{$content.Path.Value}}" /> {{/* TODO: generate alias instantly */}}
                    <div>{{$content.CID}}. {{$content.Title.Value}}</div>
                    </a>
                </div>
            {{else}}
                <tr class="content-row">
                <td class="content-title">
                    <a href="/content/view/{{$content.ID}}">
                        <i class="icon-type type-{{$content.ContentType}}"></i>{{$content.Name}}
                    </a>
                </td>
                <td>{{call $.format_time $content.Published}}</td>
                <td>{{call $.format_time $content.Modified}}</td>
                <td>{{$content.Priority}}</td>
                <td>
                    <a href="/content/edit/{{$content.ID}}" class="action" title="Edit"><i class="far fa-edit"></i></a>
                    <a href="/content/export/{{$content.ID}}" class="action" title="Export"><i class="fas fa-file-export"></i></a>
                    <a href="#" class="action" title="Move"><i class="fas fa-cut"></i></a>
                    <a href="/content/version/{{$content.ID}}" class="action" title="Version history(current version: {{$content.Version}})"><i class="fas fa-history"></i></a>
                    <a href="/content/delete/{{$content.ID}}" class="action" title="Remove"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
             {{end}}

      {{end}}
    </table>
  </div>
  {{end}}
{{end}}

  </div>
</div>
  <div class="admin">
      Powered by <a href="#" class="dm-name">DM Content framework</a>
      <a href="/console/list" title="Go to DM administration console" class="admin-console"><i class="fas fa-tools"></i></a>
  </div>

</body>
</html>
