
.debug{
    font-family: monospace;
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left:0px;
    cursor: default;
}

.debug .time{
    background: #f1f1f1;
}

.debug .time, .debug .info{
     border-top: 1px dotted #bdbdbd;
}

.debug > div{
     white-space: nowrap;

}

.debug .title{
    margin-right: 10px;
    padding: 3px;
    display: inline-block;
    font-weight: bold;
}

.debug h4{
    font-size: 1em
}

.debug table{
}

.info-debug{
    color: green;
}

.info{
    font-family: monospace;
    color: red;
    padding: 3px;
    background: white;
}

.info-debug >span, .info-error >span{
    margin-right: 4px;
}
