body{
    margin: 10px;
}

.tool{
    float: right;
}

a:hover{
    text-decoration: none
}

a.action{
    color:#696969
}

a.action:hover{
    color:#000000
}

.admin a{
    color: #0593ce;
}

ul{
    list-style-type: none;
    padding-left: 5px;
}

.hide{
    display: none;
}

.block{
    margin-top: 10px
}

.admin{
    margin-top: 50px;
    position: absolute;
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 80%
}

@media only screen and (max-width: 600px) {
    .tool{
        float: none
    }

    .admin{

    }
}
