{% extends "base.html" %}


{%block content%}
<div class="{{content.ContentType}} full">
    <h2>
        {{content.Location.Name}}
    </h2>
    <div>
        {% for child in content|dm_children:"article" %}
                <div>
                    <a href="{{niceurl(child)}}">{{child.Location.Name}}</a>
                </div>
        {%endfor%}
    </div>

    <h3>Block view</h3>
    <div>
        {% for child in content|dm_children:"article" %}
                {{viewcontent( child, "block" )}}
        {%endfor%}
    </div>


</div>
{%endblock%}
