<html>
<head>
    <title>{%block title%}Demosite - {{content.Name}}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/site.css" />
    <style>

    </style>
</head>
<body>
    <div class="header">
        <a href="/{{root|dm_niceurl}}">{{root.Name}}</a> <br />
        YOUR LOGO <br /> <br />
        <div class="menu">
            <ul>
            {% for child in root|dm_children:"folder" %}
                    {%if child.FolderType.Data == ""%}
                    <li>
                        <a href="/{{child|dm_niceurl}}">{{child.Location.Name}}</a>
                    </li>
                    {%endif%}
            {%endfor%}
            </ul>
        </div>
    </div>
    <div class="mainarea">
        {%block content%}Default body{% endblock %}
    </div>
    <div class="footer">
        {{include( "facebook" )}}
 <br /> <br />
        FOOTER <br /><br />
    </div>
</body>
</html>
