<html>
<head>
    <title>{%block title%}Demosite - {{content.Name}}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/inline-editor.css" />
     <link rel="stylesheet" href="/static/css/admindesign.css" />
    <link rel="stylesheet" href="/static/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="http://demo.digimaker.no:8089/static/javascript/site.js"></script>

    <script src="/static/javascript/eui-inline-edit.js"></script>
</head>
<body>
      {%include "treelist.html"%}
    <div class="header">
        <a href="{{niceurl(root)}}">{{root.Name}}</a> <br />
        YOUR LOGO <br /> <br />
        <div class="menu">
            <ul>
            {% for child in root|dm_children:"folder" %}
                    {%if child.FolderType.Data == ""%}
                    <li {%for i in content.Path()%}{%if i==child.ID%}class='current'{%endif%}{%endfor%}>
                        <a href="{{niceurl(child)}}">{{child.Location.Name}}</a>
                    </li>
                    {%endif%}
            {%endfor%}
            </ul>
        </div>
    </div>
    <div class="mainarea">
        {%block content%}Default body{% endblock %}
    </div>
    <div class="footer">
        {{include( "facebook" )}}
 <br /> <br />
        FOOTER <br /><br />
    </div>

</body>
</html>
