<div class="inline-edit" style="display:none">
<ul>
<li>
<a href="/content/edit/{{content.ID}}" title="New">
    <i class="fas fa-plus"></i>
</a>
</li>
<li>
<a href="/content/edit/{{content.ID}}" title="Edit">
    <i class="far fa-edit"></i>
</a>
</li>
<li>
<a href="javascript:void();" class="tool-treelist" data-toggle="modal" data-target="#exampleModalLong" title="List">
    <i class="far fa-list-alt"></i>
</a>
</li>
<li>
<a href="/content/edit/{{content.ID}}" title="Delete">
    <i class="far fa-trash-alt"></i>
</a>
</li>
</ul>    
</div>
