<div class="modal fade" tabindex="-1" id="exampleModalLong" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 5px">
          <h5 class="modal-title">Content structure</h5>
      </div>
      <div class="modal-body">
<div class="treelist">
    <div class="treemenu" style="display:inline-block; width:35%;">
        <ul>

            <li>
                <a href="javascipt:void;"><span class="icon-toggle open"></span></a>
                <a href="/content/view/55">
                    <i class="icon-type type-folder-site"></i>Demosite1
                </a>

                    <ul>

                            <li>

                                <a href="javascipt:void;"><span class="icon-toggle open"></span></a>

                                <a href="/content/view/56">
                                    <i class="icon-type type-folder-image"></i>Images
                                </a>


                                <ul>

                                  <li>

                                      <span class="icon-toggle space"></span>

                                    <a href="/content/view/87">
                                        <i class="icon-type type-folder-image"></i>trip 2019
                                    </a>
                                  <li>

                                 </ul>

                            </li>

                            <li>

                                      <span class="icon-toggle space"></span>

                                <a href="/content/view/61">
                                    <i class="icon-type type-folder-file"></i>Files
                                </a>


                            </li>

                            <li>

                                      <span class="icon-toggle space"></span>

                                <a href="/content/view/85">
                                    <i class="icon-type type-folder-link"></i>Links
                                </a>


                            </li>

                            <li>

                                      <span class="icon-toggle space"></span>

                                <a href="/content/view/57">
                                    <i class="icon-type type-folder-"></i>News
                                </a>


                            </li>

                            <li>

                                      <span class="icon-toggle space"></span>

                                <a href="/content/view/58">
                                    <i class="icon-type type-folder-"></i>Blogs
                                </a>


                            </li>

                            <li>

                                      <span class="icon-toggle space"></span>

                                <a href="/content/view/59">
                                    <i class="icon-type type-folder-"></i>Contact us
                                </a>


                            </li>

                    </ul>

            </li>

            <li>
                <a href="javascipt:void;"><span class="icon-toggle open"></span></a>
                <a href="/content/view/4">
                    <i class="icon-type type-folder-"></i>News
                </a>

                    <ul>

                            <li>

                                      <span class="icon-toggle space"></span>

                                <a href="/content/view/70">
                                    <i class="icon-type type-folder-"></i>Test 06.05.2019 22:51
                                </a>


                            </li>

                            <li>

                                      <span class="icon-toggle space"></span>

                                <a href="/content/view/71">
                                    <i class="icon-type type-folder-"></i>Test 06.05.2019 22:53
                                </a>


                            </li>

                            <li>

                                      <span class="icon-toggle space"></span>

                                <a href="/content/view/109">
                                    <i class="icon-type type-folder-"></i>fff
                                </a>


                            </li>

                    </ul>

            </li>

      </ul>
    </div>
    <div style="display:inline-block; width:60%;vertical-align:top">
        <table class="table">
            <tr>
                <td>Hello world</td>
            </tr>
            <tr class="selected">
                <td>Online edit example</td>
            </tr>
            <tr>
                <td>ddd</td>
            </tr>
        </table>
    </div>
</div>
</div>
</div>
</div>
</div>
