
<html>
<head>
  <title>DM Editorial UI</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/admindesign.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="http://demo.digimaker.no:8089/static/javascript/site.js"></script>

</head>

<body>
  <div class="left">
      <div style="padding:5px 10px;border-bottom:1px solid #cad3d8;background:#eaf1f5">
          <a href="#" title="Digimaker Content Framework">
              <img src="http://demo.digimaker.no:9200/static/images/logo1.png" width="25px" />
          </a>
          <div style="display:inline-block;font-size: 14px;float:right">
              <div class="profile">&nbsp;<a href="#"><i class="fas fa-user"></i> Chen Xiongjie</a>
              </div>
        </div>
      </div>

      <div class="menu">

          <div class="menuitem">
                <a href="/content/view/1"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </div>

              <div class="menuitem">
                    <div>
                        <a href="/content/view/1"><i class="icon-type  type-home"></i>Sites</a>

                        <a href="#"><i class="fas fa-caret-down" style="color:#656565"></i></a>

                        <span class="show-hide" style="float: right">
                            <a href="#"><i class="fas fa-chevron-down"></i></a>
                        </span>
                    </div>
                    <div class="treemenu">
                        <ul>

                            <li>
                                <a href="javascipt:void;"><span class="icon-toggle open"></span></a>
                                <a href="/content/view/55">
                                    <i class="icon-type type-folder-site"></i>Demosite1
                                </a>

                                    <ul>

                                            <li>

                                                <a href="javascipt:void;"><span class="icon-toggle open"></span></a>

                                                <a href="/content/view/56">
                                                    <i class="icon-type type-folder-image"></i>Images
                                                </a>


                                                <ul>

                                                  <li>

                                                      <span class="icon-toggle space"></span>

                                                    <a href="/content/view/87">
                                                        <i class="icon-type type-folder-image"></i>trip 2019
                                                    </a>
                                                  <li>

                                                 </ul>

                                            </li>

                                            <li>

                                                      <span class="icon-toggle space"></span>

                                                <a href="/content/view/61">
                                                    <i class="icon-type type-folder-file"></i>Files
                                                </a>


                                            </li>

                                            <li>

                                                      <span class="icon-toggle space"></span>

                                                <a href="/content/view/85">
                                                    <i class="icon-type type-folder-link"></i>Links
                                                </a>


                                            </li>

                                            <li>

                                                      <span class="icon-toggle space"></span>

                                                <a href="/content/view/57">
                                                    <i class="icon-type type-folder-"></i>News
                                                </a>


                                            </li>

                                            <li>

                                                      <span class="icon-toggle space"></span>

                                                <a href="/content/view/58">
                                                    <i class="icon-type type-folder-"></i>Blogs
                                                </a>


                                            </li>

                                            <li>

                                                      <span class="icon-toggle space"></span>

                                                <a href="/content/view/59">
                                                    <i class="icon-type type-folder-"></i>Contact us
                                                </a>


                                            </li>

                                    </ul>

                            </li>

                            <li>
                                <a href="javascipt:void;"><span class="icon-toggle open"></span></a>
                                <a href="/content/view/4">
                                    <i class="icon-type type-folder-"></i>News
                                </a>

                                    <ul>

                                            <li>

                                                      <span class="icon-toggle space"></span>

                                                <a href="/content/view/70">
                                                    <i class="icon-type type-folder-"></i>Test 06.05.2019 22:51
                                                </a>


                                            </li>

                                            <li>

                                                      <span class="icon-toggle space"></span>

                                                <a href="/content/view/71">
                                                    <i class="icon-type type-folder-"></i>Test 06.05.2019 22:53
                                                </a>


                                            </li>

                                            <li>

                                                      <span class="icon-toggle space"></span>

                                                <a href="/content/view/109">
                                                    <i class="icon-type type-folder-"></i>fff
                                                </a>


                                            </li>

                                    </ul>

                            </li>

                      </ul>
                    </div>
                </div>


                <div class="menuitem">
                    <a href="/content/view/7">
                        <i class="icon-type  type-users"></i>Users</a>

                        <span class="show-hide">
                            <a href="#"><i class="fas fa-chevron-right"></i></a>
                        </span>
                </div>

                <div class="menuitem">
                    <a href="/content/view/48"><i class="icon-type  type-media"></i>Media</a>

                    <span class="show-hide">
                        <a href="#"><i class="fas fa-chevron-right"></i></a>
                    </span>
                </div>

                <div class="menuitem">
                        <a href="#"><i class="icon-type  type-users"></i>CRM</a>
                        <span class="show-hide">
                            <a href="#"><i class="fas fa-chevron-right"></i></a>
                        </span>
                </div>
        </div>


    </div>

  </div>

  <div class="main">

      <div class="search">
          <div style="display:inline-block">
              <input type="text" class="form-control form-control-sm" style="margin: 5px 0px; display:inline-block; width: 80%" placeholder="Search on content" />
              <button style="border:none;background:none;padding:5px"><i class="fas fa-search" style="font-size: 18px;color:#206363"></i></button>
          </div>
      </div>

      {%block content%}content{%endblock%}



      <div class="admin">
          Powered by <a href="#" class="dm-name">DM Content framework</a>
          <a href="/console/list" title="Go to DM administration console" class="admin-console"><i class="fas fa-tools"></i></a>
      </div>
  </div>

</div>


</body>
</html>
